
table{
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    width : 50%;
    text-align: center;
}
h1{
    text-align: center;
}
td{
    padding: 0.5cm;
}
button{
    width: 100px;
    height: 100px;
}