<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>AlphaBot Remote Controller</title>
        <link rel="icon" type="image/x-icon" href="../res/favicon.ico">

        <link rel="stylesheet" href="../static/sign_up.css"/>
    </head>

    <body>
        <div class="container-class">
            <h1>Sign in Section</h1>

            <form action="/sign_up" method="POST">
                <input type="text" name="username" placeholder="Username" autocomplete="off"> <br><br>
                <input type="password" name="password" placeholder="Password"> <br><br>
                <input type="password" name="repeat_password" placeholder="Repeat Password"> <br><br>

                <div class="btn-container-class">
                    <button value="confirm" name="confirm">Confirm</button>
                </div>
            </form>
        </div>

        {%if error %}
        <b><p>{{error}}</p></b>
        {% endif %}
    </body>
</html>