<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>AlphaBot Remote Controller</title>
        <link rel="icon" type="image/x-icon" href="../res/favicon.ico">

        <script type="application/x-javascript" src="../static/controller.js"></script>

        <link rel="stylesheet" href="../static/controller.css"/>
    </head>

    <body>
        <form action='/controller' method='POST'>
            <button id="log_out_button" value="log_out" name="log_out">Log out</button>
        </form>

        <h1>AlphaBot Remote Controller</h1>

        <div class="container-class">
            <h3>Basic Movements</h3>

            <div class="btn-class">
                <button value="forward" name="direction" onclick="send_movement(this.value);">&#x2B06 <br/> Forward</button>
            </div>
                
            <div class="btn-class">
                <button value="left" name="direction" onclick="send_movement(this.value);">&#x2B05 <br/> Left</button>
                <button value="stop" name="direction" onclick="send_movement(this.value);">&#x26D4 <br/> Stop</button>
                <button value="right" name="direction" onclick="send_movement(this.value);">&#x27A1 <br/> Right</button>
            </div>
        
            <div class="btn-class">
                <button value="backward" name="direction" onclick="send_movement(this.value);">&#x2B07 <br/> Backward</button>
            </div>
        </div>

        <div class="container-class">
            <div id="center-div">
                <h3>Complex Movements</h3>

                <select name="complexmovspool">
                    {% for mov in complex_movements %}
                    <option value={{mov}}>{{mov}}</option>
                    {% endfor %}
                </select>

                <button id="btn-submit" name="submitmov" onclick="send_movement(document.querySelector('[name=\'complexmovspool\']').value);">Submit</button>
            </div>
        </div>
    </body>
</html>
