<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>AlphaBot Remote Controller</title>
        <link rel="icon" type="image/x-icon" href="../res/favicon.ico">

        <link rel="stylesheet" href="../static/index.css"/>
    </head>

    <body>
        <div class="container-class">
            <h1>Log in Section</h1>

            <form action="/" method="POST">
                <input type="text" id="username_input" name="uname" placeholder="Username"> <br><br>
                <input type="password" id="password_input" name="passwd" placeholder="Password"> <br><br>

                <div class="btn-container-class">
					<button value="log-in" name="log_in">Log-in</button>
                    <button name="sign_in">Sign-in</button>
                </div>
            </form>
        </div>

        {%if error %}
        <b><p>{{error}}</p></b>
        {% endif %}
    </body>
</html>