<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>AlphaBot Remote Controller</title>
        <link rel="icon" type="image/x-icon" href="../res/favicon.ico">

        <link rel="stylesheet" href="../static/index.css"/>
    </head>

    <body>
        <h1>AlphaBot Remote Controller</h1>

        <form action="/" method="POST">
            <div style="margin-top: 9vh;">
                <button value="forward" name="direction">&#x2B06 <br/> Forward</button>
            </div>
            
            <div>
                <button value="left" name="direction">&#x2B05 <br/> Left</button>
                <button value="stop" name="direction">&#x26D4 <br/> Stop</button>
                <button value="right" name="direction">&#x27A1 <br/> Right</button>
            </div>

            <div>
                <button value="backward" name="direction">&#x2B07 <br/> Backward</button>
            </div>
        </form>
    </body>
</html>
