<!DOCTYPE html>
<html>
    <head>
        <style>
            table{
                border: 1px solid;
                margin-left: auto;
                margin-right: auto;
                width : 50%;
                text-align: center;
            }
            h1{
                text-align: center;
            }
            td{
                padding: 0.5cm;
            }
            button{
                width: 100px;
                height: 100px;
            }
        </style>
    </head>
    <body>
        <h1><b>movimento robot</b></h1>
        <form action="/" method="POST">
            <table>
                <tr>
                    <td></td>
                    <td><button value="dritto" id="w" name="name">dritto</button></td>
                    <td></td>
                </tr>
                
                <tr>
                    <td><button value="sinistra" id="a" name="name">sinistra</button></td>
                    <td><button value="fermo" id="stop" name="name">fermo</button></td>
                    <td><button value="destra" id="d" name="name">destra</button></td>
                </tr>
                
                <tr>
                    <td></td>
                    <td><button value="indietro" id="s" name="name">indietro</button></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </body>
</html>